body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.oculto {
    display: none;
}

#tela2, #tela3, #tela4 {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 20px;
}