/* Configuração global */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial Black, sans-serif;
  background-color: #990000; /* Fundo vermelho sólido */
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 4rem;
  padding-top: 300px;
  color: #ffffff;
}

.tela {
  text-align: center;
}

/* Botão Estilizado */
button {
  --color: #8f0000;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 1rem;
  border: 2px solid #f9f9f9; /* Corrigido a sintaxe */
  font-family: inherit;
  text-transform: uppercase;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 120px;
  margin: 10px;
}

/* Efeito de gradiente no hover */
button:hover {
  background: linear-gradient(to right, #ff4c4c, #ff7878);
  color: #ffffff;
  transform: scale(1.05);
}

/* Efeito circular no hover */
button::before,
button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

button::before {
  top: -1em;
  left: -1em;
}

button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

button:hover::before,
button:hover::after {
  height: 410px;
  width: 410px;
}

button:active {
  filter: brightness(0.8);
}

/* Contêiner da grade */
.grid-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  padding-bottom: 200px;
}

/* Icones dos botoes */
button img{
  width: 70px;
  height: 60px;
}

/* Botão flutuante fixo */
.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fixed-button:hover {
  background-color: #555;
}

/* Elementos ocultos */
.oculto {
  display: none;
}

/* Tela de fundo */
#tela1 {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Imagem de fundo com efeito */
.Fachada {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px) opacity(0.4);
  z-index: -1;
}

/* Sobreposição vermelha */
#tela1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 2, 2, 0.9); /* Vermelho translúcido */
  z-index: -1;
}
